{% extends 'template.html' %} {% block content %}
<table border="1" class="table table-striped table-responsive table-bordered">
  <thead class="thead-default">
    <tr>
      <th>Title</th>
      <th>Height</th>
      <th>Width</th>
      <th>Status</th>
      <th>Estante</th>
    </tr>
  </thead>
  <tbody>
    {% for book in estante %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.height }}</td>
      <td>{{ book.width }}</td>
      <td>{{ "Available" if book.available else "Not Available" }}</td>
      <td>{{ book.estante }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
