{% extends 'template.html' %} {% block content %}
<form method="POST" action="/insert">
  <fieldset>
    <div class="form-group">
      <label for="title">Title:</label><br />
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
      /><br /><br />
    </div>
    <div class="form-group">
      <label for="height">Height:</label><br />
      <input
        type="number"
        id="height"
        name="height"
        class="form-control"
      /><br /><br />
    </div>
    <div class="form-group">
      <label for="width">Width:</label><br />
      <input
        type="number"
        id="width"
        name="width"
        class="form-control"
      /><br /><br />
    </div>
    <div class="form-group">
      <label for="available">Available:</label>
      <input type="checkbox" id="available" name="available" /><br /><br />
    </div>
    <button type="submit" class="btn btn-primary btn-salvar">Save</button>
  </fieldset>
</form>
{% endblock %}
